{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="grid_7">Error handling the request</h1>
    <div class="clear"></div>

    <p class="grid_7" style="padding-bottom: 200px;">
        Something unexpected happened while handling your request. Please try again or go back to the <a href="/">home page</a>
    </p>
    <div class="clear"></div>
        
{% endblock %}
